#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        del {
            bindings = <&kp DEL>;
            key-positions = <32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T      &kp Y    &kp U     &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G      &kp H    &kp J     &kp K      &kp L    &kp SQT
&kp Z  &kp X  &kp C  &kp V      &kp B      &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH
                     &kp SPACE  &kp TAB    &kp RET  &kp BSPC
            >;

            label = "base";
        };

        num {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans     &trans  &trans     &trans     &trans    &trans
&trans  &kp N4  &kp N5  &kp N6  &trans     &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&trans  &kp N1  &kp N2  &kp N3  &trans     &trans  &trans     &trans     &trans    &trans
                        &kp N0  &kp DOT    &trans  &trans
            >;
        };

        sym {
            bindings = <
&trans  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)   &trans    &trans  &trans     &trans     &trans    &trans
&trans  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &trans    &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&trans  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &trans    &trans  &trans     &trans     &trans    &trans
                                     &kp LS(RPAR)   &trans    &trans  &trans
            >;
        };

        fn {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &kp PRINTSCREEN    &trans  &trans     &trans     &trans    &trans
&kp F11  &kp F4  &kp F5  &kp F6  &kp SCROLLLOCK     &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp F10  &kp F1  &kp F2  &kp F3  &kp PAUSE_BREAK    &trans  &trans     &trans     &trans    &trans
                         &trans  &trans             &trans  &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp K_REDO  &kp K_PASTE    &kp K_COPY  &kp K_CUT  &kp K_UNDO
&trans  &trans  &trans  &trans  &trans    &kp CAPS    &kp LEFT       &kp DOWN    &kp UP     &kp RIGHT
&trans  &trans  &trans  &trans  &trans    &kp INSERT  &kp HOME       &kp PG_DN   &kp PG_UP  &kp END
                        &trans  &trans    &kp RETURN  &kp BACKSPACE
            >;
        };
    };
};
